* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color: #14120B;
    --card-primary: #1B1913;
    --primary-hover: #1D1B15;
    --btn-hover: #D7D6D5;
    --text-primary: #EDECEC;
    --text-secondary: #9A9996;
    --link-primary: #f54e00;
}

.btn-white {
    background-color: var(--text-primary);
    padding: 4px 12px;
    color: var(--primary-color);
}

.rm-d {
    text-decoration: none;
    color: var(--link-primary);
    font-weight: 400;
}

body {
    background-color: var(--primary-color);
}

.highlights {
    background-color: var(--card-primary);
    width: 100%;
    padding: 20px 0;

    .highlights-grid {
        justify-self: center;
        width: 75%;
    }
}

.container {
    width: 100%;
    /* border: 1px white solid; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


nav,
.main,
.company-container,
.features,
.testimonials,
.usecases,
.log,
.team,
.try_cursor {
    width: 75%;
    align-self: center;
    /* border: 1px solid green; */
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-primary);
    /* padding: 10px 20px; */
    padding: 10px 0px;
    font-size: 0.91rem;

    .logo {
        display: flex;
        justify-content: start;
        width: 10%;
    }

    .nav_mid {
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    .rm-d {
        color: var(--text-primary);
    }

    .nav_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .signin {
            padding: 4px 12px;
            border-radius: 17px;
            border: 1px solid rgb(67, 67, 67);
            /* check correct border color */
        }

        .download {
            border-radius: 17px;
            color: var(--primary-color);
        }
    }
}

/* main */
.main {
    /* padding: 170px 20px 70px 20px; */
    padding: 170px 20px 70px 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: var(--primary-color);
    color: var(--text-primary);

    a {
        padding: 12px 15px;
        color: var(--primary-color);
        border-radius: 25px;
        font-size: large;
        font-weight: 500;
        max-width: fit-content;
    }

    .heading {
        font-size: 1.8rem;
    }

    img {
        width: 100%;
        object-fit: contain;
        border-radius: 5px;
        margin-top: 25px;
    }
}

.company-container {
    background-color: var(--primary-color);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* padding: 0px 20px; */

    .company-list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 5px;
    }

    .company-card {
        background-color: var(--card-primary);
        width: 137px;
        display: flex;
        justify-content: center;
        padding: 30px 0px;
        border-radius: 5px;
        border: 1px solid rgb(31, 31, 31);

        img {
            width: 60px;
            border-radius: 5px;
            object-fit: contain;
        }
    }
}

/* features */
.features {
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    .feature_card {
        background-color: var(--card-primary);
        width: 100%;
        display: flex;
        border-radius: 5px;

        h3 {
            font-weight: normal;
        }

        .feature_card_text {
            padding: 0px 22px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 45%;
        }

        img {
            margin: 20px 20px 20px 0;
            border-radius: 5px;
            object-fit: contain;
            width: 65%;
        }
    }

    .card_two {
        flex-direction: row-reverse;
    }

    .feature_card:hover {
        background-color: var(--primary-hover);
    }
}


.testimonials {
    color: var(--text-primary);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h3 {
        font-size: 30px;
        font-weight: 480;
        letter-spacing: -0.05px;
        word-spacing: -4px;
        text-align: center;
    }

    .testimonial_grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;

        .testimonial_card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 5px;
            /* width: 100%; */
            gap: 100px;
            background-color: var(--card-primary);
            border: 1px solid rgb(31, 31, 31);
            padding: 15px;

            img {
                border-radius: 5px;
            }

            .avatar_desc {
                display: flex;
                align-items: center;
                gap: 15px;

                .role {
                    color: var(--text-secondary);
                }
            }

        }
    }
}


/* usecases */

.usecases {
    margin: 50px 0px;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 25px;

    h3 {
        font-size: 26px;
        font-weight: 480;
        letter-spacing: -0.05px;
        word-spacing: -4px;
    }

    .usecase_list {
        display: flex;
        gap: 8px;
        justify-content: flex-start;

        .usecase_card {
            border: 1px solid rgb(31, 31, 31);
            background-color: var(--card-primary);
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-radius: 5px;

            div {
                height: 35%;
            }

            img {
                object-fit: cover;
                border-radius: 5px;
                height: 75%;
                width: 100%;
            }
        }

        .usecase_card:hover {
            background-color: var(--primary-hover);
        }
    }

}


/* log */
.log {
    margin: 50px 0;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    gap: 22px;

    h3 {
        font-size: 26px;
        font-weight: 480;
        letter-spacing: -0.05px;
        word-spacing: -4px;
    }

    .log_list {
        display: grid;
        grid-template-rows: 1;
        grid-template-columns: repeat(4, 1fr);
        gap: 9px;


        .log_card {
            padding: 20px 50px 20px 20px;
            border-radius: 5px;
            background-color: var(--card-primary);
            border: 1px solid rgb(31, 31, 31);
            display: flex;
            flex-direction: column;
            gap: 20px;

            .capsule {
                border: solid 0.1px var(--text-secondary);
                padding: 0 8px;
                border-radius: 12px;
                font-weight: normal;
            }

            span {
                color: var(--text-secondary);
                font-size: 400;
                font-weight: 500;
            }

            p {
                font-weight: 500;
            }

        }

        .log_card:hover {
            background-color: var(--primary-hover);
        }
    }

    a {
        font-size: 17px;
    }
}

/* team */
.team {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .heading {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--text-primary);
        font-size: 2.5rem;

        a {
            width: fit-content;
            border-radius: 22px;
            padding: 12px 20px;
            font-size: large;
            font-weight: 500;
            color: var(--primary-color);
        }
    }

    img {
        border-radius: 5px;
    }
}

/* highlights */
.highlights-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    font-weight: 500;
    color: var(--text-secondary);
    margin: 50px 0;

    .recent {
        color: var(--text-primary);
    }

    .highlights_list {
        grid-area: 1 / 2 / 4 / 4;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .card:hover {
            background-color: #26241E;
        }

        .card {
            font-size: 1.1rem;
            padding: 15px;
            background-color: #201E18;
            display: flex;
            flex-direction: column;
            gap: 25px;
            border: 1px solid rgb(31, 31, 31);
            border-radius: 5px;

            .card_text {
                h4 {
                    color: var(--text-primary);
                    font-weight: 500;
                }
            }
        }
    }


}

/* try */
.try_cursor {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-weight: 500;

    p {
        color: var(--text-primary);
        font-size: 4.2rem;
        font-weight: 500;
    }

    a {
        text-decoration: none;
        background-color: var(--text-primary);
        color: var(--primary-color);
        padding: 12px 30px;
        border-radius: 25px;
    }
}

footer {
    padding: 50px 0;
    background-color: var(--card-primary);
    width: 100%;

    .container {
        width: 75%;
        color: var(--text-primary);
        display: flex;
        flex-direction: column;
        gap: 100px;

        .grid {
            font-size: 14px;
            font-weight: 500;

            .grid-head {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                color: var(--text-secondary);
            }

            .grid-body {
                margin: 13px 0;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(7, 1fr);
                gap: 13px 0;


                a {
                    text-decoration: none;
                    color: var(--text-primary);
                }

                .cli {
                    grid-column-start: 1;
                }

                .cloud {
                    grid-column-start: 1;
                }

                .any {
                    grid-column-start: 3;
                }

                .price {
                    grid-column-start: 1;
                }
            }
        }
    }

    .copyright {
        color: var(--text-secondary);
        font-weight: 500;
    }
}